*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(20, 20, 20);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.logo-photo{
width: 120px;
}
.menus{
    display: flex; 
    
}
.item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
}
.item:hover{
    color: yellow;
    cursor: pointer;
}

.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content:space-around;
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url("./images/background.png"),linear-gradient(45deg,rgba(8, 8, 8),rgb(53, 53, 53));
    
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}
.aboutus-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 20px;
    padding: 25px;
}
.abt,.service{
    font-size: 55px;
    text-align: center;
}
.description-about{
margin-top: 10px;
margin-bottom: 10px;
}
.service-box{
    width: 200px;
    height:300px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
.service-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
   
    
}
.info{
    margin-top: 10px;
    margin-bottom;: 10px
}
.icon{
    width: 70px;
}
.abt-ctner{
    background-image: url("./images/background.png"),linear-gradient(45deg,rgba(8, 8, 8),rgb(53, 53, 53));
    color: white;
}
.footer-container{

    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 40px;
    background-image: url("./images/background.png"),linear-gradient(45deg,#000,#000);
    list-style: none;
    line-height: 1.8em;
    border-bottom: 1px solid gray;
}
.footer-box{
    width: 200px;
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;

}
.copyright{
    text-align: center;
    padding: 15px;
    background-color: #000;
    color: white;
}